<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.PMallMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.dao.PMall" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="INTEGER" />
    <result column="dealer_price" property="dealerPrice" jdbcType="INTEGER" />
    <result column="service_price" property="servicePrice" jdbcType="INTEGER" />
    <result column="follow" property="follow" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="INTEGER" />
    <result column="product_use" property="productUse" jdbcType="INTEGER" />
    <result column="material" property="material" jdbcType="INTEGER" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="image_url2" property="imageUrl2" jdbcType="VARCHAR" />
    <result column="image_url3" property="imageUrl3" jdbcType="VARCHAR" />
    <result column="image_url4" property="imageUrl4" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="use_status" property="useStatus" jdbcType="INTEGER" />
    <result column="save_time" property="saveTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>