<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.PShoppingcartMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.dao.PShoppingcart" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="p_user_id" property="pUserId" jdbcType="INTEGER" />
    <result column="mall_id" property="mallId" jdbcType="VARCHAR" />
    <result column="mall_num" property="mallNum" jdbcType="VARCHAR" />
    <result column="save_time" property="saveTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>